<div class="container">
    <div class="row">
        <div class="align-items-center paper">
            <div class="is-centered col-xl-11 mx-auto">
                <div class="exit">
                    <a id="exit" class="nes-btn float-right" href="../index.html">exit</a>
                </div>
                <h1>Proyectos</h1>

                <div class="row justify-content-center projects">
                    <div *ngFor="let repo of repos"
                        class="nes-container is-rounded col-lg-5 col-md-5 col-sm-12 project_card">
                        <b>
                            <p class="title"><a target="_blank" href="{{repo.clone_url}}">{{repo.name}}</a></p>
                        </b>
                        <p class="description">
                            {{repo.description}}
                        </p>
                        <div class="stats">
                            <span class="dot"
                                style="background-color:{{languages_colors[repo.language]}}"></span>{{repo.language}}
                            <span class="watch">{{repo.watchers}}</span>
                            <span class="star">{{repo.stargazers_count}}</span>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;">
                    <i class="nes-octocat animate float-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>