.position-list-icon {
    top: 10px;
}

.nes-icon.twitter::before {
    content: "";
}

.nes-icon.github::before {
    content: "";
}

.nes-icon.linkedin::before {
    content: "";
}

.nes-icon.heart::before {
    content: "";
}

.heart{
    margin-right: 3px !important;
}