<div class="container h-100">
    <div class="row align-items-center h-100">
        <div
            class="is-centered col-8 col-xs-3 col-xl-3 col-md-5 col-sm-6 mx-auto nes-container is-dark with-title pick-one">
            <p class="title is-centered">Elige uno</p>
            <div class="row" id="prueba">
                <ul class="list-take">
                    <li class="menu-seleccion"><a [routerLink] = "['/about_me']">Sobre mi</a></li>
                    <li class="menu-seleccion"><a [routerLink] = "['/resumen']">Resumen</a></li>
                    <li class="menu-seleccion"><a [routerLink] = "['/projects']">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
